#albums {
  list-style: none;
  margin: 0;
  padding: 0;
}

#albums li {
  float: left;
  border: dotted 1px #999;
  width: 120px;
  text-align: center;
  margin: 10px;
}

/*#albums li.first {
  margin-left: 0;
}*/

#albums li a {
  text-align: center;
  margin: 10px;
  display: block;
}

#albums li a img {
   
}